*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}




.back{
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: rgb(217, 220, 220);
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
   

}
.card{
    width: 300px;
    height: 500px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 15px;

}
button{
    width: 100px;
    height: 34px;
    border-radius: 20px;
    background-color: red;
    color: white;
    margin: 30px;
    border: none;
}
h1{
    font-size:60px;
    text-align: center;
    color: aliceblue;
    padding-top: 70px;
    
}
.head01,.head02,.head03,.head04{
    background-color: red;
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0px 500px;
   
    
}p{
    text-align: center;
    width: 100px;
}
.head01{
    background-color: red;
}
.head02{
   background-color: violet;
}
.head03{
   background-color: rgb(36, 86, 167);
}
.head04{
   background-color: rgb(13, 166, 34);
}
@media (max-width: 768px){
  
    .back{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        height: auto;
        
    }
    h1{
        font-size: 35px;
        padding-top: 70px;
    }
    .card{
        width: 80%;
        height: auto;
    }
    button{
        width: 80%;
    }


}